# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
tracertrail/playwright-report
tracertrail/playwright-report/*
tmp/
.docker_tmp/
tracertrail/test-results
tracertrail/test-results/.last-run.json
test-results
test-results/*
tracertrail/server/storage/tracertrail.db
tracertrail/server/storage/tracertrail.db-shm
tracertrail/server/storage/tracertrail.db-wal

ERROR.md
FUTURE.md
TASKS.md
*TASKS.md
nul
output.md
tracetrail-skill/The-Complete-Guide-to-Building-Skill-for-Claude.pdf
tracetrail-skill/TESTS.md
*.The-Complete-Guide-to-Building-Skill-for-Claude.pdf
